*{
    margin: 0;
}
@font-face{
    font-family: "wild-words";
    src: url(fonts/wild-words/wildwordsroman.TTF);
}
@font-face {
    font-family: "manga-temple";
    src: url(fonts/manga-temple/mangat.ttf);
}
.nav-container{
    background-color: whitesmoke;
    box-sizing: border-box;
    /*position: fixed;*/
    height: auto;
    width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: right;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    /*box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);*/
}
.nav-container .logo{
    /*font-family: manga-temple, wild-words, sans-serif;*/
    /*font-size: 24px;*/
    height: 50px;
    width: auto;
    /*flex: 0 0 0;*/
    margin-right: auto;
}
.nav-container .logo img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    flex: 0 0 0;
}
.nav-container .header{
    font-family: wild-words, manga-temple, sans-serif;
    font-size: 18px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}
.nav-container .special-header{
    font-family: manga-temple, wild-words, sans-serif;
    font-size: 24px;
    background-color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}
.nav-container .logo a{
    color: black;
    text-decoration: none;
}
.nav-container .header a{
    color: black;
    text-decoration: none;
}
.nav-container .header:hover{
    background-color: lightgray;
}
.nav-container .special-header a{
    color: white;
    text-decoration: none;
}
.body-container{
    background-image: url(background2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    box-shadow: inset 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.body-container .welcome-container{
    background-color: whitesmoke;
    box-sizing: border-box;
    height: auto;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 50px 50px rgba(246, 246, 246, 1);
    /*filter: blur(1.5rem);*/
    padding: 0% 10% 2% 10%;
    margin: 3% 5% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*gap: 5%;*/
    /*flex-wrap: wrap;*/
    flex-direction: column;
}
.body-container .welcome-container .welcome-img{
    background-color: lightgray;
    height: 300px;
    width: auto;
    border-radius: 15px;
    /*flex: 0 0 auto;*/
    display: flex;
}
.body-container .welcome-container .welcome-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    flex: 0 0 0;
}
.body-container .welcome-container .welcome-content{
    height: 100%;
    width: 100%;
    min-width: 50%;
    flex: 1 1 0;
}
.body-container .welcome-container .welcome-content h3{
    font-family: manga-temple, wild-words, sans-serif;
    font-size: 24px;
    text-align: center;
}
.body-container .welcome-container .welcome-content p{
    font-family: wild-words, manga-temple, sans-serif;
    font-size: 18px;
    text-align: center;
}
.body-container .first-container{
    background-color: whitesmoke;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 5% 5% 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}
.body-container .first-container .first-img{
    background-color: lightgray;
    height: auto;
    width: 300px;
    border-radius: 15px;
    /*flex: 0 0 auto;*/
    display: flex;
}
.body-container .first-container .first-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    flex: 0 0 0;
}
.body-container .first-container .first-content{
    height: 100%;
    width: 100%;
    min-width: 50%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
.body-container .first-container .first-content .first-text h3{
    font-family: manga-temple, wild-words, sans-serif;
    font-size: 24px;
    text-align: left;
}
.body-container .first-container .first-content .first-text p{
    font-family: wild-words, manga-temple, sans-serif;
    font-size: 18px;
    text-align: left;
}
.body-container .first-container .first-content .first-button{
    text-align: right;
}
.body-container .first-container .first-content .first-button button{
    font-family: manga-temple, wild-words, sans-serif;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
}
.body-container .first-container .first-content button:hover{
    transform: scale(1.1);
    transition: 0.3s transform ease-in-out;
}
.body-container .second-container{
    background-color: whitesmoke;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    padding: 5% 5% 5% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap-reverse;
}
.body-container .second-container .second-content{
    height: 100%;
    width: 100%;
    min-width: 50%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}
.body-container .second-container .second-content .second-text h3{
    font-family: manga-temple, wild-words, sans-serif;
    font-size: 24px;
    text-align: right;
}
.body-container .second-container .second-content .second-text p{
    font-family: wild-words, manga-temple, sans-serif;
    font-size: 18px;
    text-align: right;
}
.body-container .second-container .second-content .second-button{
    text-align: left;
}
.body-container .second-container .second-content .second-button button{
    font-family: manga-temple, wild-words, sans-serif;
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
}
.body-container .second-container .second-content button:hover{
    transform: scale(1.1);
    transition: 0.3s transform ease-in-out;
}
.body-container .second-container .second-img{
    background-color: lightgray;
    height: auto;
    width: 300px;
    border-radius: 15px;
    /*flex: 0 0 auto;*/
    display: flex;
}
.body-container .second-container .second-img img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    flex: 0 0 0;
}